.post-navigation {
    	background-color: $white;
    	font-weight: 700;
    	@include box-shadow();
    	margin-top: 7.6923%;
}
.post-navigation .nav-next, .post-navigation .nav-previous {
    	background-position: center center;
    	background-size: cover;
    	position: relative;
}
.post-navigation div + div {
    	border-top: 1px solid rgba(51, 51, 51, 0.1);
}
.post-navigation a {
    	padding: 5% 10%;
	display:block;
}
.post-navigation a::before {
    	content: "";
    	display: block;
    	height: 100%;
    	left: 0;
    	position: absolute;
    	top: 0;
    	width: 100%;
    	z-index: 1;
}
.post-navigation .meta-nav {
	color:rgba(51, 51, 51, 0.7);
   	@include opacity(0.8);
    	font-size: rem-calc(20);
    	letter-spacing: 0.04em;
    	line-height: 1.5;
    	position: relative;
    	text-transform: uppercase;
    	z-index: 2;
}
.post-navigation span {
    	display: block;
}
